.prioritybox {
    margin: 4px;
    min-height: 36px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.3) inset;
}
.bg_low {
    background-color: rgba(56, 158, 13, 0.6);
}

.bg_medium {
    background-color: rgba(212, 177, 6, 0.6);
}
.bg_high {
    background-color: rgba(212, 107, 8, 0.6);
}
.bg_critical {
    background-color: rgba(216, 51, 59, 0.6);
    
}
