body {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

td {
    padding: 4px;
    border: 1 solid orange !important;
    text-align: left;
    vertical-align: middle;
    page-break-inside: avoid !important;
}

@media print {
    body {
        width: 100vh !important;
    }
    table {
        color: black;
    }
    thead {
        background-color: #e0e0e0;
    }
    th {
        border: 1px solid #aaa;
    }

    td {
        padding: 4px;
        border: 1 solid orange !important;
        text-align: left;
        vertical-align: middle;
        page-break-inside: avoid !important;
    
    }
    .image_cell {
        min-width: 115px;
    }

    .print-container {
        /* padding: 40px; */
        width: 1408px; 
        margin: 40px; 
        box-sizing: border-box;
    }

    /* .print-table {        
        border:none;
        width: 1306px; 
        height: auto;
        box-sizing: border-box;
    } */
} 
