.navbar {
    padding: 6px 12px;
    display:flex;
    flex-direction: row;
    gap: 30px;
    justify-content: start;
    background-color: rgb(212, 209, 203);
    list-style-type: none;
    margin:0;
}

.navlink{
    flex:1;
    font-weight: bold;
}

.active {
    color: rgb(93, 8, 204);
    text-decoration: underline;
}
